{% extends "flights/layout.html" %}

{% block body %}
    {% if request.user.is_authenticated %}
        <h1>Welcome, {{ request.user.first_name }}</h1>
        <ul>
            <li>Username: {{ request.user.username }}</li>
            <li>Email: {{ request.user.email }}</li>
        </ul>
    {% else %}
        <h1>Welcome, Guest</h1>
        <ul>
            <li>Username: Guest</li>
        </ul>
    {% endif %}

    <h1>Flights</h1>
    <ul>
        {% for flight in flights %}
            <li>
                <a href="{% url 'flight' flight.id %}">
                    Flight {{ flight.id }}: {{ flight.origin }} to {{ flight.destination }}
                </a>
            </li>
        {% endfor %}

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    </ul>
{% endblock %}