{% extends "flights/layout.html" %}

{% block body %}
    {% if request.user.is_authenticated %}
        <h1>Welcome, {{ request.user.first_name }}</h1>
        <ul>
            <li>Username: {{ request.user.username }}</li>
            <li>Email: {{ request.user.email }}</li>
        </ul>
    {% else %}
        <h1>Welcome, Guest</h1>
        <ul>
            <li>Username: Guest</li>
        </ul>
    {% endif %}

    <h1>Flights</h1>
    <ul>
        {% for flight in flights %}
            <li>
                <a href="{% url 'flight' flight.id %}">
                    Flight {{ flight.id }}: {{ flight.origin }} to {{ flight.destination }}
                </a>
            </li>
            <li>
                <a href="{% url 'update_flight' flight.id %}">Edit</a>
                <a href="{% url 'delete_flight' flight.id %}">Delete</a>
            </li>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if flights.has_previous %}
                    <a href="?page=1">pierwsza</a>
                    <a href="?page={{ flights.previous_page_number }}">poprzednia</a>
                {% endif %}
    
                <span class="current">
                    Strona {{ flights.number }} z {{ flights.paginator.num_pages }}.
                </span>
    
                {% if flights.has_next %}
                    <a href="?page={{ flights.next_page_number }}">następna</a>
                    <a href="?page={{ flights.paginator.num_pages }}">ostatnia</a>
                {% endif %}
            </span>
        </div>
    </ul>
  
    <button><a href="{% url 'create_flight' %}">Create Flight</a></button>
{% endblock %}