{% extends "flights/layout.html" %}

{% block body %}
    <h1>Passengers</h1>
    <ul>
        {% for passenger in passengers %}
            <li>Passenger: {{ passenger.first }} {{ passenger.last }}</li>
            <a href="{% url 'update_passenger' passenger.id %}">Edit</a>
            <a href="{% url 'delete_passenger' passenger.id %}">Delete</a>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if passengers.has_previous %}
                <a href="?page=1">pierwsza</a>
                <a href="?page={{ passengers.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ passengers.number }} z {{ passengers.paginator.num_pages }}.
            </span>

            {% if passengers.has_next %}
                <a href="?page={{ passengers.next_page_number }}">następna</a>
                <a href="?page={{ passengers.paginator.num_pages }}">ostatnia</a>
            {% endif %}
        </span>
    </div>

    <button><a href="{% url 'create_passenger' %}">Create Passenger</a></button>

    </br>
    </br>

    <button><a href="{% url 'index' %}">Back to Flight List</a></button>
{% endblock %}